	<ion-view view-title="About Us" hide-nav-bar="false" >
		<!-- popover -->
		<ion-nav-buttons side="right">
			<button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popover.show($event)"></button>
		</ion-nav-buttons>
		<!-- ./popover -->
		<ion-nav-title>About Us</ion-nav-title>
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-about_us" class="padding page-about_us">
		
 
  <div class="text-center">
    <img class="avatar relative" ng-src="data/images/header/logo.png" />
    <p>Webviewrosa 1</p>
  </div>
 
<br/>

<div class="list card">
 
  <a class="item item-icon-left" ng-click="openURL('facebook.com/egyptcsrforum')" >
    <i class="positive icon ion-social-facebook"></i>
    Like Us on Facebook
  </a>
  
  <a class="item item-icon-left" ng-click="openURL('https://plus.google.com/u/0/+danievandermerwe')" >
    <i class="assertive icon ion-social-googleplus"></i>
    Join us on Google+
  </a>
  
  <a class="item item-icon-left" ng-click="openURL('http://www.twitter.com/egyptcsrforum')" >
    <i class="calm icon ion-social-twitter"></i>
   Follow me on Twitter
  </a>
  
   <a class="item item-icon-left" ng-click="openURL('mailto:ibrahim.elhaddad@gmail.com')" >
    <i class="icon ion-android-mail royal"></i>
    For Business Cooperation<br/>
    <span>
        Email: ibrahim.elhaddad@gmail.com
    </span>
  </a>
   
</div>

<br/>
<div class="text-center">
<p>&copy; 2017 <a ng-click="openURL('http://www.rosadama.com')" >rosadama</a><br/>All Rights Reserved</p>
</div>


		</ion-content>
		<!-- ./content -->
	</ion-view>
