	<ion-view view-title="Menu 1" hide-nav-bar="false" >
		<!-- popover -->
		<ion-nav-buttons side="right">
			<button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popover.show($event)"></button>
		</ion-nav-buttons>
		<!-- ./popover -->
		<ion-nav-title>Menu 1</ion-nav-title>
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-menu_1" class="page-menu_1">
		
<div class="card">
  <div class="item item-text-wrap" >
    <h4>Menu 1</h4>
    <p>It's Work<br/>Please create a table or edit this page</p>
  </div>
</div>
		</ion-content>
		<!-- ./content -->
	</ion-view>
