<ion-tabs class="tabs-striped  tabs-icon-top tabs-background-light tabs-color-positive-900" data-ink-opacity=".35" >
	<ion-tab class="menu-home" title="home" icon-off="ion-android-favorite" icon-on="ion-android-favorite" ng-click="openWebView('http://www.rosadama.com')" >
	</ion-tab>
	<ion-tab class="menu-menu_2" title="Menu 2" icon-off="ion-android-favorite" icon-on="ion-android-favorite" ui-sref="webviewrosa.menu_2" >
		<ion-nav-view name="webviewrosa-menu_2"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-about_us" title="About Us"  ui-sref="webviewrosa.about_us"  >
		<ion-nav-view name="webviewrosa-about_us"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-dashboard" title="Dashboard"  ui-sref="webviewrosa.dashboard"  >
		<ion-nav-view name="webviewrosa-dashboard"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-dashborad" title="dashborad"  ui-sref="webviewrosa.dashborad"  >
		<ion-nav-view name="webviewrosa-dashborad"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-home" title="home"  ui-sref="webviewrosa.home"  >
		<ion-nav-view name="webviewrosa-home"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-menu1" title="menu1"  ui-sref="webviewrosa.menu1"  >
		<ion-nav-view name="webviewrosa-menu1"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-slide_tab_menu" title="Menu"  ui-sref="webviewrosa.slide_tab_menu"  >
		<ion-nav-view name="webviewrosa-slide_tab_menu"></ion-nav-view>
	</ion-tab>
</ion-tabs>
